# Diretórios e arquivos criados pelo Cypress
cypress/evidences/screenshots
cypress/evidences/videos/

# Dependências instaladas pelo npm
node_modules/

# Arquivos de log e cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Diretórios de cache
.cache/
tmp/

# Arquivos de configuração específicos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos gerados por IDEs
.idea/
.vscode/
*.swp
*.swo

# Configurações e arquivos temporários
*.env
*.env.local
.env.test
.env.production

# Arquivos de relatórios e testes
coverage/
report/
*.lcov

# Outros arquivos e diretórios desnecessários
dist/
build/
